* {
    box-sizing: border-box;
}

body {
    margin: 0px;

}

#containerprincipal {
    background-color: aquamarine;
    width: 800px;
    height: 600px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#containerjogo {
    background-color: rgb(50, 190, 144);
    width: 600px;
    height: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.bloco{
    width: 150px;
    height: 150px;
    border: 2px solid black;
    margin: 20px;
    cursor: pointer;
    user-select: none;
}

.containerjogo {
    display: flex;
}


.bloco img {
    width: 145px;
    visibility: hidden;
    position: absolute;
}

#containerprincipal button:nth-child(4) {
    position: absolute;
    bottom: 185px;
    right: 80px;
}


#containerprincipal h3:nth-child(3){
    position: absolute;
    bottom: 200px;
    right: 30px;
    visibility: hidden;
}

#h3inicio {
    position: absolute;
    top: 20px;
    right: 30px;
    text-shadow: 1px 1px 3px grey;
}

#reiniciar {
    visibility: hidden;
}

#tabelajogadores {
    position: absolute;
    top: 150px;
    right: 70px;
    text-align: center;
}

#tabelajogadores p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    color: red;
    text-shadow: 1px 1px 3px black;
    border: 1px solid black;
    visibility: hidden;
}

#iniciar {
    position: absolute;
    top: 80px;
    right: 90px;
}

